# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###########################
# self files

Makefile*
*.[oa]
*~
*.pro.user*
ui_*
moc_*
object_script.*
*.so*wq
*.stash
*.autosave
*.log
.tmp
qrc_res.cpp
.DS_Store

apps/ukpcarryplan/debug/
apps/ukpcarryplan/release/
libs/ukpcommon/debug/
libs/ukpcommon/release/
libs/ukpplan/debug/
libs/ukpplan/release/
build/

apps/ukpcarryplan/ukpcarryplan

include/h/Headers/
include/h/HeadersExt/
